---
layout: archive
title: "Patents & Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>U.S. Patents</h2><hr />

<p><strong>US 10,762,214 B1</strong> &mdash; System and Method for Automatically Extracting Information from Binary Files for Use in Database Queries</p>

<p><strong>US 10,230,599 B2</strong> &mdash; System and Method for Network Traffic Profiling and Visualization</p>

<p><strong><a href="https://patents.google.com/patent/US9667521B2/">US 9,667,521 B2</a></strong> &mdash; System and Method for Network Traffic Profiling and Visualization</p>

<p><strong>US 8,984,583 B2</strong> &mdash; Healthcare Privacy Breach Prevention Through Integrated Audit and Access Control</p>

<p><strong>US 9,438,632 B2</strong> &mdash; Healthcare Privacy Breach Prevention Through Integrated Audit and Access Control</p>

<h2>Whitepapers</h2><hr />

<p>P. Martin et al. "Guidelines for Source Code Comparison in Litigation." <em>Harbor Labs Litigation Support Whitepaper</em>, 2022. [<a href="{{ base_path }}/files/HL-WP-SourceCodeComparison.pdf">PDF</a>]</p>

<p>P. Martin et al. "Guidelines for Assessing Source Code Quality." <em>Harbor Labs Litigation Support Whitepaper</em>, 2022. [<a href="{{ base_path }}/files/HL-WP-SourceCodeQuality.pdf">PDF</a>]</p>

<p>P. Martin et al. "Guidelines for Source Code Review in Hi-Tech Litigation." <em>Harbor Labs White Paper</em>. [<a href="{{ base_path }}/files/HL-WP-SourceCodeReview.pdf">PDF</a>]</p>

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>Dissertation</h2><hr />

<p>P. Martin, <em>Securing Medical Devices and Protecting Patient Privacy in the Technological Age of Healthcare</em>, Ph.D. Dissertation, Johns Hopkins University, February 2016. [<a href="https://www.cs.jhu.edu/seminars/2016/spring/february12/paul-martin/">JHU Seminar</a>]</p>

<h2>Program Committees</h2><hr />

<p>IEEE Symposium on Security and Privacy &mdash; Program Committee Member (Winter 2024, Summer 2024)</p>
