---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<p>I am a Lecturer in the Department of Computer Science at Johns Hopkins University, where I teach courses on computer and network security, applied cryptography, C/C++ programming, and developer tools. I have previously taught courses on hardware hacking, including analyzing, modifying, and repairing computer hardware, embedded devices, and firmware. I also occasionally substitute teach courses on network security and cryptography.</p>

<p>I received the Computer Science Department Outstanding Teaching Assistant Award in 2014, and the short course I co-instructed on hardware hacking received the highest student ratings in the department during its session.</p>

<hr />

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
